[submodule "che-che4z-lsp-for-cobol-integration"]
	path = che-che4z-lsp-for-cobol-integration
	url = git@github.com:erminlilaj/che-che4z-lsp-for-cobol-integration.git
	branch = cobol-rekt-integration
[submodule "woof"]
	path = woof
	url = https://github.com/asengupta/woof.git
[submodule "mojo-common"]
	path = mojo-common
	url = git@github.com:erminlilaj/mojo-common.git
[submodule "thesis-documentation"]
	path = thesis-documentation
	url = git@github.com:erminlilaj/thesis-documentation.git
